body{
  margin-top: 80px;
  text-align: center;
  background-color: gray;
  font-size: 20px;
}
#pic {
  margin-top: 150px;
}

input[type=text] {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
